:root {
    --cor-verde: rgba(147, 193, 118, 0.5);
    --cor-branca: rgba(255, 255, 255, 0.9); 
}

body {
    background-image: url(https://images.unsplash.com/photo-1493219686142-5a8641badc78?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    font-family: Poppins , sans-serif;
    text-align: center
    }
    
label {
    display: block;
    align-items: center;
    }

.form {
    background: var(--cor-verde);
    color: rgb(0, 1, 0) ;
    text-align: left;
    padding: 20px;
    width: 80%;
    margin: 0px auto 0px auto;
    max-width: 500px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px 0px #666;
}

.input-text {
    margin: 10px 0 10px 0;
    width: 100%;
    resize: vertical;
    font-family: inherit;
    min-height: 24px;
    border: 1px;
    padding: 0;
    text-align: left;
    border-radius: 5px;
}

.input-submit {
    display: block;
    width: 100%;
    font-family: inherit;
    color: inherit;
    border: 1px;
    background: var(--cor-verde);
    min-height: 36px;
    font-size: 20px;
    padding: 0px;
    border-radius: 5px;
    color: var(--cor-branca);
    transition: 0.2s;
}

input[type="submit"]:hover {
    background: var(--cor-branca);
    color: var(--cor-verde);
    transition: 0.25s;
}

fieldset {
    border: 0rem;
}


/** TODO: Create animation for placeholder and correct "textarea"